@{
    ViewData["Title"] = "Microtravel";
}

<h1 class="text-center" style="color: #266882;">
    Elérhető utazások
</h1>
<hr>

<div class="d-flex justify-content-center mt-4 mb-4">
    <div class="w-50">
        <input type="text" id="searchBox"
               class="form-control"
               placeholder="Utazás keresése..." />
    </div>
</div>

@Html.Partial("_TravelCardRender");

<script>
        let timer;

    document.getElementById("searchBox").addEventListener("keyup", function () {


    clearTimeout(timer);

    let value = this.value.trim();
        //console.log(value);
        if (value.length == 0) {
            render(value);
            return;
        }
        if (value.length < 3) { return }


        render(value);

    });


    function render(value) {
        timer = setTimeout(() => {

            fetch(`/Travels/Search?searchString=${value}`)
                .then(res => res.text())
                .then(html => {
                    document.getElementById("travelContainer").innerHTML = html;
                });

        }, 400);
    }
</script>